<footer class="footer">
    <small>
        The <a href="http://infomani.ac/">infomani.ac</a> app
        by <a href="http://dustinarmstrong.info/">Dustin Armstrong</a>
    </small>
    <nav>
        <ul>
            <li>
                <%= link_to "About",   about_path %>
            </li>
            <li>
                <%= link_to "Contact", contact_path %>
            </li>
            <li><a href="https://weathermaker.co">WMCO</a></li>
        </ul>
    </nav>
</footer>